<h1>Collections</h1>
<div class="collections-grid">
  <% @collections.each do |collection| %>
    <div class="collection">
      <% if collection.cover != nil %>
        <%= cl_image_tag @photos.find(id = collection.cover).photo.key, height: 300, width: 400, :gravity=>"faces", :crop=>"fill" %>
      <% else %>
        <span>No cover image selected</span>
      <% end %>
      <%= link_to collection_path(collection.id) do %>
        <h2><%= collection.name %></h2>
      <% end %>
    </div>
  <% end %>
</div>
