<h1><%=@collection.name %></h1>
<h2><%= @collection.description %></h2>
<% @collection.bookmarks.each do |bookmark| %>
  <% photo = Photo.find(bookmark.photo_id) %>
  <%= cl_image_tag photo.photo.key %>
<% end %>
