<%= turbo_frame_tag "add_photo" do %>
  <span>In Collection</span>
  <% photo = params[:photo_id] %>
  <% collection = params[:collection_id] %>
  <% create(photo, collection) %>
  <%= turbo_stream.update "show_collection_edit" do %>
    <%= render "collections/editshow", collection: @collection %>
  <% end %>
<% end %>
