<div>
  <div class="name">
    <span>Photos on Rails</span>
  </div>
  <i class="fa-brands fa-linkedin"></i>
  <i class="fa-brands fa-instagram fa-3x"></i>
  <i class="fa-brands fa-instagram fa-3x"></i>
</div>
