<div class="footer">
  <div class="footer-text">
    <h3>Jill Smith</h3>
    <p>All rights reserved</p>
  </div>
  <div class="footer-links">
    <a href="/contacts/new">
      <i class="fa-solid fa-envelope"></i>
    </a>
    <a href="https://www.instagram.com/" target='blank'>
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://www.facebook.com/" target="blank">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="htttps://www.linkedin.com/" target="blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
</div>
