.banner-button{
    border: 2px solid #4d4d4d;
    padding: 6px 47px;
    font-size: 3rem;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    transition: all .5s ease;
    background-color: white;
    color: black;
    font-family: 'Unbounded';
    height: 90px;
    width: 250px;
    opacity: .5;
    position: relative;
    top: 35vh;

}
.banner-button:hover {
  opacity: .75;
}
a {
  text-decoration: none;
}
