.button-container {
  display: flex;
  align-items: center;
}

.button {
  border: 2px solid #4d4d4d;
  padding: 6px 47px;
  font-size: 1.5rem;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  transition: all .5s ease;
  background-color: white;
  a {
    text-decoration: none;
    color: black;
    font-family: 'Unbounded';
  }

}

.button:hover{
  border: 2px solid #4d4d4d;
  background-color: rgb(187, 187, 187) !important;
}
