.collections-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.collection-card-text{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 1rem;

  .collection-card-link{
    margin-bottom: 1rem;
    font-style: italic;
    font-size: 1.5rem;
    color: black;
  }

  #seemore{
    font-size: 1rem;
    color: black;
  }

  a{
    color: black;
  }

  p{
    margin-bottom: 0;
  }
}

.collection-card {
  height: 13rem;
  width: 23rem;
  margin: 10px 10px 10px 10px;
  display: flex;
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin: 10px auto;
  transition: all .5s ease;
}

.collection-card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.509);
}
