.form-container {
  margin: 0 auto;
  font-family: 'Unbounded';
  border-radius: 10px;
  font-weight: lighter;
  border: 2px solid rgb(77, 77, 77);
  background-color: white;
  width: 50vw;
  padding: 10px 15px;

  label{
    text-decoration: underline;
  }
  h2 {
    text-align: center;
  }
}

#new-contact{
  margin-top: 10vh;
}
